h1, h2, h3, h4, h5, h6 {
color: #24243c;
}

h1 {
font-size: 100.001px;
text-align: center;
font-family: Monospace;
}

h6 {
font-size: 40.04px;
text-align: center;
font-family: Monospace;
}
